@model IEnumerable<Role>
@{
    ViewBag.Title = "角色管理";
}
@Html.ActionLink("新增", "create", null, new { id = "create" })
<table>
    <tr>
        <th>ID</th>
        <th>名称</th>
        <th>操作</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td style="width: 100px;">
                @Html.ActionLink("编辑", "edit", new { id = item.Id }, new { @class = "edit" })
                @Html.ActionLink("删除", "delete", new { id = item.Id }, new { @class = "delete" })
            </td>
        </tr>
    }
</table>
@section Script
{
    <script>
        $(function () {
            $("#create").click(function () {
                layer.open({
                    type: 2,
                    title: false,
                    area: ['403px', '286px'],
                    content: '@Url.Action("create")'
                });
                return false;
            })
            $(".edit").click(function () {
                layer.open({
                    type: 2,
                    title: false,
                    area: ['403px', '331px'],
                    content: $(this).attr("href")
                });
                return false;
            })
            $(".delete").click(function () {
                var id = $(this).attr("href")
                layer.confirm('随便删除数据要被老板请去喝茶的！！！', {
                    btn: ['我渴了', '怂了'] //按钮
                }, function () {
                    layer.msg('非要这样吗？', {
                        time: 20000, //20s后自动关闭
                        btn: ['确定', '点错了'],
                        yes: function (index) {
                            $.post(id, function (data) {
                                if (data.code!=200) {
                                    alert("删除出错")
                                }
                            })
                            parent.location.reload()
                        }
                    });
                }, function () {
                    layer.msg('明智的选择', { icon: 1 });
                });
                return false
            })
        })
    </script>
}

