@model IEnumerable<Role>
@{
    ViewBag.Title = "角色模块管理";
}
@Html.ActionLink("新增", "create", null, new { id = "create" })
<table>
    <tr>
        <th>ID</th>
        <th>名称</th>
        <th>操作</th>
    </tr>
    @foreach (var role in Model)
    {
        foreach (var modu in role.Modules)
        {
            <tr>
                <td>@role.Name</td>
                <td>@modu.Name</td>
                <td style="width: 100px;">
                    @Html.ActionLink("编辑", "edit", new { RoleId = role.Id, ModuleId = modu.Id }, new { @class = "edit" })
                    @Html.ActionLink("删除", "delete", new { RoleId = role.Id, ModuleId = modu.Id }, new { @class = "delete" })
                </td>
            </tr>
        }
    }
</table>
@section Script
{
    <script>
        $(function () {
            $("#create").click(function () {
                layer.open({
                    type: 2,
                    title: false,
                    area: ['403px', '286px'],
                    content: '@Url.Action("create")'
                });
                return false;
            })
            $(".edit").click(function () {
                layer.open({
                    type: 2,
                    title: false,
                    area: ['403px', '331px'],
                    content: $(this).attr("href")
                });
                return false;
            })
            $(".delete").click(function () {
                var id = $(this).attr("href")
                layer.confirm('随便删除数据要被老板请去喝茶的！！！', {
                    btn: ['我渴了', '怂了'] //按钮
                }, function () {
                    $.post(id, function (data) {
                        if (data.code != 200) {
                            alert("删除出错")
                        }
                    })
                    parent.location.reload()
                }, function () {
                    layer.msg('明智的选择', { icon: 1 });
                });
                return false
            })
        })
    </script>
}